body {
    padding-top: 100px; /* Push body down from navbar */
    background-color:#FFE8D1 !important; /* Background color for body */
}

/* Navbar background color */
.custom-navbar {
    background-color: #FFE8D1;
}

.no-hover:hover{
    background-color:transparent !important;
    color:inherit;
    cursor:default;
}

/* Font */
* {
    font-family: Verdana;
}



/* Book icons on navbar */
.fa-book {
    color:brown;
}

.fa-book-open {
    color:green;
}

.fa-shopping-cart {
    color: green;
}

/* navbar */
.nav {
    background-color:#FFE8D1;
}

.nav-link:hover{
    background-color:rgb(118, 219, 118);
    text-decoration: none;
}

.logo1 {
    border-radius: 40%;
    padding-left: 5px;
}

/* form */
label {
    display: block;
    margin: 80px 0;
    }



/* footer */
.footer-link {
    color: black !important;
}